<div>
<app-header></app-header>
<mat-tab-group> 
    <mat-tab label = "Reconciliation Sheet"> <app-table></app-table></mat-tab>
    <mat-tab label = "New Patient List"><app-newpatient></app-newpatient></mat-tab>
    <mat-tab label = "Overdue Records"><app-overdue></app-overdue></mat-tab>
    <mat-tab label = "Missed Appointments"><app-missed-apps></app-missed-apps></mat-tab>
    <mat-tab label = "Alerts"><app-alerts></app-alerts></mat-tab>
    <mat-tab label = "Patient Visiting List"><app-visiting-list></app-visiting-list></mat-tab>
    <mat-tab label = "Bi-Weekly Revenue Aging Report"> <app-revenue-aging></app-revenue-aging></mat-tab>
    <mat-tab label = "Payer Based Report"> <app-payer-based></app-payer-based></mat-tab>
</mat-tab-group>
</div>