<div>
    <h2>Reconciliation Sheet</h2>
    <table mat-table [dataSource]="reconsheet" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Patient-Name">
    <th mat-header-cell *matHeaderCellDef> Patient Name </th>
    <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Patient-ID">
    <th mat-header-cell *matHeaderCellDef> Patient ID</th>
    <td mat-cell *matCellDef="let element"> {{element.patientID}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Doctor-ID">
    <th mat-header-cell *matHeaderCellDef> Doctor ID</th>
    <td mat-cell *matCellDef="let element"> {{element.doctorID}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Speciality-Seen">
    <th mat-header-cell *matHeaderCellDef> Speciality Seen </th>
    <td mat-cell *matCellDef="let element"> {{element.specialitySeen}} </td>
  </ng-container>

  <ng-container matColumnDef="Date-of-Birth">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
  </ng-container>

  <ng-container matColumnDef="Date-of-Appointment">
    <th mat-header-cell *matHeaderCellDef> Date of Appointment</th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfAppointment}} </td>
  </ng-container>

  <ng-container matColumnDef="Time-of-Appointment">
    <th mat-header-cell *matHeaderCellDef> Time of Appointment </th>
    <td mat-cell *matCellDef="let element"> {{element.timeOfAppointment}} </td>
  </ng-container>

  <ng-container matColumnDef="Appointment-Status">
    <th mat-header-cell *matHeaderCellDef> Appointment Status</th>
    <td mat-cell *matCellDef="let element"> {{element.appointmentStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="CoPay">
    <th mat-header-cell *matHeaderCellDef> CoPay</th>
    <td mat-cell *matCellDef="let element"> {{element.coPay}} </td>
  </ng-container>

  <ng-container matColumnDef="Payment-Amount">
    <th mat-header-cell *matHeaderCellDef> Payment Amount</th>
    <td mat-cell *matCellDef="let element"> {{element.paymentAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="Amount-Collected">
    <th mat-header-cell *matHeaderCellDef> Amount Collected</th>
    <td mat-cell *matCellDef="let element"> {{element.amountCollected}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<div style= "margin-top: 10px ; width: 100%"> 
  <div style = "width: 10%"><mat-table matTableExporter [dataSource]="reconsheet" #exporter="matTableExporter"></mat-table>
    <button mat-button (click)="exporter.exportTable('csv')"> Download CSV</button></div>
  
  <mat-paginator 
    [pageSizeOptions] = [5,10,25]
    showFirstLastButtons>
  </mat-paginator>
  
</div>
